body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    color: #00A1EA;
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: 10px auto;
}

/* ------- */
/* General */
/* ------- */

#scrollToTopBtn {
    /* button styling */
    background-color: #212529; 
    color: #FFF;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    width: 48px;
    height: 48px; 
    padding: 0 9px;

    /* placing at the bottom */
    position: fixed;
    bottom: 50px;
    right: 15px;
    z-index: 100;
    opacity: 0;
    /* transform: translateY(100px); */
    transition: all 0.5s ease; 
}

.showBtn {
    opacity: 0.5 !important;
    /* transform: translateY(0); */
}

.bg-blue {
    background-color: #115D98;
    color: #FFF;
}

/* ------------- */
/* Title Section */
/* ------------- */

.big-heading {
    text-align: center;
    padding-bottom: 10px;
}

.website-icon {
    width: 15%;
    display: block;
    margin: 15px auto;
}

.another-page-button {
    background-color: #00A1EA;
    color: #FFF;
    margin-top: 5px;
    margin-bottom: 30px;
}

/* ------------------ */
/* Train Status Table */
/* ------------------ */

tr:nth-of-type(odd)>td,
td[rowspan] {
    background: #F9F9F9;
}

.table {
    border-collapse: collapse;
    margin: 0;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

.table thead tr {
    background-color: #00A1EA;
    color: #FFF;
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 1px solid #A2DBFA;
}

.table th,
.table td {
    padding: 15px;
    white-space: break-spaces !important;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #00A1EA;
}

.table-responsive {
    border: 0;
    padding: 0;
}

.train-delay {
    background-color: #F8D7DA !important;
}

.railways-logo {
    width: 32px;
    margin-right: 10px;
}
/* ----- */
/* Graph */
/* ----- */

.responsive-chart {
    height: 100%;
    width: 100%;
    padding: 10px;
}

canvas {
    width: 100% !important;
    max-width: 1000px;
    height: auto !important;
}

/* ------ */
/* Footer */
/* ------ */

.footer {
    font-size: 0.8rem;
    text-align: center;
    padding: 10px;
    margin-top: 5%;
}

.footer p,
.footer a {
    color: #495057;
    text-decoration: none;
}

.footer-logo {
    margin: 5px 15px;
}

/* ------*/
/* About */
/* ----- */

.about {
    font-size: 0.9em;
}

.about-heading {
    /* font-size: 1.5em; */
    padding-top: 2em;
    padding-bottom: 0.3em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #ccc;
}

.how-to-use {
    line-height: 1.75;
}

.how-to-use .column {
    flex: 33.33%;
    padding: 5px;
}

/* Create three equal columns that sits next to each other */
.how-to-use .row {
    display: flex;
}

.how-to-img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}


/* ---------- */
/* Responsive */
/* ---------- */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    #scrollToTopBtn {
        font-size: 1.5em !important;
        width: 32px;
        height: 32px;
        padding: 4px 9px;
        bottom: 30px;
        right: 10px;
    }

    /* ------------- */
    /* Title Section */
    /* ------------- */

    .website-icon {
        width: 25%;
    }

    .another-page-button {
        margin-top: 0;
        margin-bottom: 35px;
    }

    /* ------------------ */
    /* Train Status Table */
    /* ------------------ */

    .railways-logo {
        width: 32px;
        margin: 0 10px 10px 0;
        display: block;
    }

    /* ----- */
    /* Graph */
    /* ----- */

    .responsive-chart {
        height: 200px !important;
    }

    /* ------*/
    /* About */
    /* ----- */

    .how-to-use .row {
        display: block;
        margin:  20px;
    }

    .how-to-use .column {
        padding: 5px;
        margin: 20px 0;
    }
}