    <!-- Footer -->
    <div class="footer">
        {% if lang_code == "en" %}
        <a href="https://twitter.com/tokyotraindelay"><i class="fab fa-twitter fa-2x footer-logo"></i></a>
        {% elif lang_code == "ja" %}
        <a href="https://twitter.com/chienjyouhou"><i class="fab fa-twitter fa-2x footer-logo"></i></a>
        {% endif %}
        <a href="https://github.com/chanon-mike/tokyo-train-delays"><i class="fab fa-github fa-2x"></i></a>
        <p>
            Copyright &copy; <script>document.write(new Date().getFullYear())</script> Tokyo Train Delay
        </p>  
    </div>

    <!-- Custom scripts for this template -->
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js') }}"></script>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>