    <!-- Footer -->
    <div class="footer">
        {% if lang_code == "en" %}
        <a href="https://twitter.com/tokyotraindelay"><i class="fab fa-twitter fa-2x footer-logo"></i></a>
        {% elif lang_code == "ja" %}
        <a href="https://twitter.com/chienjyouhou"><i class="fab fa-twitter fa-2x footer-logo"></i></a>
        {% endif %}
        <a href="https://github.com/chanon-mike/tokyo-train-delays"><i class="fab fa-github fa-2x"></i></a>
        <p>
            Copyright &copy; <script>document.write(new Date().getFullYear())</script> 
            <a href="https://github.com/chanon-mike" id="myname">Chanon Limpipolpaibul</a>
        </p>  
    </div>

    <!-- Custom scripts for this template -->
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js') }}"></script>
</body>
</html>