{% extends 'bootstrap/base.html' %}
{% block title %}Tokyo Train Delay{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Operators</th>
                    <th scope="col">Railways</th>
                    <th scope="col">Train Status</th>
                    <!-- <th scope="col">Time</th> -->
                </tr>
            </thead>
            <tbody>
                {% for operator in (train_dict.keys() | list) %}
                <tr>
                    <th rowspan="{{ (train_dict[operator]['railways'] | length) + 1 }}" scope="row">{{operator}}</th>
                    {% for i in range(train_dict[operator]["railways"] | length) %}
                        {% if (train_dict[operator]["train_status"][i] | length ) > 21 %}
                        <tr class="danger">
                            <td class="railways"><img src="{{ url_for('static', filename='img/logo/' + operator + ' ' + train_dict[operator]['railways'][i] + '.png') }}" class="railways-logo">{{ train_dict[operator]["railways"][i] }}</td>
                            <td>{{ train_dict[operator]["train_status"][i] }}</td>
                            <!-- <td>{{ train_dict[operator]["time"][i] }}</td> -->
                        </tr>
                        {% else %}
                        <tr>
                            <td class="railways"><img src="{{ url_for('static', filename='img/logo/' + operator + ' ' + train_dict[operator]['railways'][i] + '.png') }}" class="railways-logo">{{ train_dict[operator]["railways"][i] }}</td>
                            <td>{{ train_dict[operator]["train_status"][i] }}</td>
                            <!-- <td>{{ train_dict[operator]["time"][i] }}</td> -->
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
