{% extends 'bootstrap/base.html' %}
{% block title %}Tokyo Train Delay{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <span class="col-sm-4"><img src="{{ url_for('static', filename='img/website_icon.png' )}}" class="website-icon"></span>
        <span class="col-sm-8"><h1 class="big-heading">Tokyo Train Delay</h1></span>
    </div>
    <div class="row">
        <div class="col-12 text-center"><a class="btn btn-primary another-page-button" href="{{ url_for('passenger')}}">Passenger Journeys</a></div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Operators</th>
                            <th scope="col">Railways</th>
                            <th scope="col">Train Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for operator in (train_dict.keys() | list) %}
                        <tr>
                            <th rowspan="{{ (train_dict[operator]['ja']['railways'] | length) + 1 }}" scope="row">{{ train_dict[operator]["ja"]["operator"] }}</th>
                            {% for i in range((train_dict[operator]["ja"]["railways"] | list) | length) %}
                                {% if (train_dict[operator]["ja"]["train_status"][i] | length ) > 21 %}
                                <tr class="danger">
                                    <td><img src="{{ url_for('static', filename='img/logo/' + operator + ' ' + train_dict[operator]['en']['railways'][i] + '.png') }}" class="railways-logo">{{ train_dict[operator]["ja"]["railways"][i] }}</td>
                                    <td>{{ train_dict[operator]["ja"]["train_status"][i] }}</td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td><img src="{{ url_for('static', filename='img/logo/' + operator + ' ' + train_dict[operator]['en']['railways'][i] + '.png') }}" class="railways-logo">{{ train_dict[operator]["ja"]["railways"][i] }}</td>
                                    <td>{{ train_dict[operator]["ja"]["train_status"][i] }}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
